@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --main-color: black;
    --block-color: white;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

header .logo {
    justify-content: center;
    padding: 20px;
}

header .menu-items {
    flex: 1;
    justify-content: space-around;
}

header .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  
  
  /* Style navigation menu links */
  .topnav a {
    color: green;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    /*
    position: absolute;
    right: 0;
    top: 0;*/
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color:white;
    color: #4CAF50;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: black;
  }
.baner {
   position: relative;
    display: flex;
    width: 100%;
    max-width: 980px;
    height: auto;
}
.block-text {
    position: absolute;
    bottom: 300px;
    left: 100px;
    background-color: var(--block-color);
    padding: 20px;

}

main .about-us {
display: grid;
grid-template-columns: 1fr 1fr;
padding-top: 90px;
grid-gap: 5px;

}

.about-us img {
    width: 100%;
}

/* Countdown*/
 .countdown {
    display: inline;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 223, 160);

}

main .countdown .countdown-items p {
    display: inline;
    font-size: 40px;
    margin-top: 0px;
  }

main .projects {
    display: flex;
    flex-direction: column;
}
.projects #projects h2 {
    justify-self: center;
    align-self: center;
}
.projects .card-body  button  {
    align-self: center;
    justify-content: center;
}
.btn-info{
background-color:#4CAF50;
}

.contacts {
    padding-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-column-align: center;

}
/*
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(160, 223, 160);
}

footer .link {
    display: grid;
grid-template-rows: 1fr 1fr 1fr;
}
*/

footer {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #4CAF50;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: max-content;
    height: 100%;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    margin-left: 20px;
}

.inner-footer .link-container {
    width: calc(32.5 - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.inner-footer .link-container:last-child{
    margin-right: 0;
}
.inner-footer .link-container a {
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .social-container {
    width: calc(32.5 - 20px);
    margin-left: 100px;
    float: left;
    height: 100%;
}

.inner-footer .social-container a {   
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}


@media (min-width:760px) {
    header .header-nav{
        display: flex;
        justify-content: space-around;
    }
    
    header .menu-items {
        display: flex;
        align-items: center;
    }
    .contacts {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width:660px) {
    main .about-us {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contacts {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width:500px) {
    main .about-us {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contacts {
        display: grid;
        grid-template-columns: 1fr;
    }
}
